<%= form_with(model: comment, class: "contents") do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :user_email %>
    <%= form.text_field :user_email, value: comment.user.email, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full  #{'readonly-style' if readonly}", readonly: readonly %>
    <%= form.hidden_field :user_id, value: comment.user.id %>
  </div>

  <div class="my-5">
    <%= form.label :restaurant_name %>
    <%= form.text_field :restaurant_name, value: comment.restaurant.name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full #{'readonly-style' if readonly}", readonly: readonly %>
    <%= form.hidden_field :restaurant_id, value: comment.restaurant.id %>
  </div>

  <div class="my-5">
    <%= form.label :content %>
    <%= form.text_field :content, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "format-button" %>
  </div>
<% end %>
