<% restaurants.each do |restaurant| %>
  <tr>
    <td class="border p-2"><%= restaurant.name%></td>
    <td class="border p-2"><%= restaurant.location%></td>
    <td class="border p-2 text-center">
      <div id="vote_column_<%= restaurant.id %>">
        <%= render partial: 'vote_results', locals: { restaurant: restaurant } %>
      </div>
    </td>
    <td class="border p-2 flex justify-center">
      <% if user_signed_in? %>
        <%= button_to "Will Split", { controller: "restaurants", action: "vote", id: restaurant.id, vote: true }, method: :post, class: "format-button mr-1" %>
        <%= button_to "Won't Split", { controller: "restaurants", action: "vote", id: restaurant.id, vote: false }, method: :post, class: "format-button" %>
      <% else %>
        <%= button_tag "Will Split", class: "format-button bg-gray-800 mr-1", disabled: true, title: "Please sign in to vote" %>
        <%= button_tag "Won't Split", class: "format-button bg-gray-800", disabled: true, title: "Please sign in to vote" %>
      <% end %>
    </td>
    <td class="border p-2 text-center">
      <div class="flex justify-center items-center">
        <%= link_to "Show", restaurant, class: "format-button mr-2" %>
        <% if user_signed_in? %>
          <%= link_to "Edit", edit_restaurant_path(restaurant), class: "format-button mr-2" %>
          <% favorite = current_user.favorites.find_by(restaurant_id: restaurant.id) %>
          <% if favorite %>
            <%= button_to "", favorite_path(favorite), method: :delete, class: "fa fa-star fa-lg checked ml-2" %>
          <% else %>
            <%= button_to "", favorites_path(restaurant_id: restaurant.id), method: :post, class: "ml-2 fa fa-star fa-lg unchecked" %>
          <% end %>
        <% end %>
      </div>
    </td>
  </tr>
<% end %>
