<% votes.each do |vote| %>
  <tr>
    <% if !profile %>
      <td class="border p-2"><%= vote.user.email %></td>
    <% end %>
    <td class="border p-2"><%= vote.restaurant.name %></td>
    <td class="border p-2"><%= vote.restaurant.location %></td>
    <td class="border p-2 text-center">
      <% if vote.vote %>
        Will Split
      <% else %>
        Won't Split
      <% end %>
    </td>
    <td class="border p-2 text-center">
      <% if profile %>
        <div class="flex justify-center">
          <%= button_to "Delete this vote", vote_path(vote), method: :delete, class: "format-button mr-2" %>
          <%= link_to "View restaurant", restaurant_path(vote.restaurant.id) , class: "format-button" %>
        </div>
      <% else %>
        <%= link_to "Show", vote, class: "format-button" %>
      <% end %>
    </td>
  </tr>
<% end %>
